docs/

**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/backend.hcl
**/*.tfplan
**/crash.log

**/.env

*.pem
*.key
*id_rsa*
*.p12
**/*.exe

**/__pycache__/
**/*.pyc
.venv/

.DS_Store
