PORT="8005"
AWS_SQS_URL="https://sqs.us-east-1.amazonaws.com/123456789012/togglemaster-events"
AWS_DYNAMODB_TABLE="ToggleMasterAnalytics"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="local"
AWS_SECRET_ACCESS_KEY="local"
